################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RestaurantWebApplication/obj
/RestaurantWebApplication/bin/Debug/net6.0
*.sqlite
/.vs
/RestaurantBLL/obj
/RestaurantDAL/obj
/RestaurantWebAPI/obj
/RestaurantBLL/bin/Debug/net6.0
/RestaurantDAL/bin/Debug/net6.0
/RestaurantDTO/bin/Debug/net6.0
/RestaurantDTO/obj
/RestaurantUtilities/bin/Debug/net6.0
/RestaurantUtilities/obj/Debug/net6.0/ref
/RestaurantUtilities/obj/Debug/net6.0
/RestaurantUtilities/obj
/RestaurantWebAPI/bin/Debug/net6.0
/TestCases/RestaurantBLLTest/bin/Debug/net6.0
/TestCases/RestaurantBLLTest/obj
/TestCases/RestaurantWebAPITest/bin/Debug/net6.0
/TestCases/RestaurantWebAPITest/obj
/TestCases/RestaurantWebApplicationTest/bin/Debug/net6.0
/TestCases/RestaurantWebApplicationTest/obj
