################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RestaurantWebApplication/obj
/RestaurantWebApplication/bin/Debug/net6.0
*.sqlite
/.vs
/RestaurantBLL/obj
/RestaurantDAL/obj
/RestaurantWebAPI/obj
