################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RestaurantWebApplication/obj
/RestaurantWebApplication/bin/Debug/net6.0
*.sqlite
/.vs
/RestaurantBLL/bin/Debug/net6.0
/RestaurantBLL/obj/Debug/net6.0
/RestaurantBLL/obj/RestaurantBLL.csproj.nuget.g.targets
/RestaurantBLL/obj/RestaurantBLL.csproj.nuget.g.props
/RestaurantBLL/obj/RestaurantBLL.csproj.nuget.dgspec.json
/RestaurantBLL/obj/project.nuget.cache
/RestaurantBLL/obj/project.assets.json
/RestaurantBLL/obj
/RestaurantDAL/bin/Debug/net6.0/RestaurantDTO.pdb
/RestaurantDAL/bin/Debug/net6.0/RestaurantDTO.dll
/RestaurantDAL/bin/Debug/net6.0/RestaurantDAL.pdb
/RestaurantDAL/bin/Debug/net6.0/RestaurantDAL.dll
/RestaurantDAL/bin/Debug/net6.0/RestaurantDAL.deps.json
/RestaurantDAL/bin/Debug/net6.0
/RestaurantDAL/obj/RestaurantDAL.csproj.nuget.g.targets
/RestaurantDAL/obj/RestaurantDAL.csproj.nuget.g.props
/RestaurantDAL/obj/RestaurantDAL.csproj.nuget.dgspec.json
/RestaurantDAL/obj/project.nuget.cache
/RestaurantDAL/obj/project.assets.json
/RestaurantDAL/obj/Debug/net6.0
/RestaurantDTO/bin/Debug/net6.0/RestaurantDTO.pdb
/RestaurantDTO/bin/Debug/net6.0/RestaurantDTO.dll
/RestaurantDTO/bin/Debug/net6.0/RestaurantDTO.deps.json
/RestaurantDTO/bin/Debug/net6.0
/RestaurantDTO/obj/RestaurantDTO.csproj.nuget.g.targets
/RestaurantDTO/obj/RestaurantDTO.csproj.nuget.g.props
/RestaurantDTO/obj/RestaurantDTO.csproj.nuget.dgspec.json
/RestaurantDTO/obj/project.nuget.cache
/RestaurantDTO/obj/project.assets.json
/RestaurantDTO/obj/Debug/net6.0
/RestaurantUtilities/bin/Debug/net6.0/RestaurantUtilities.pdb
/RestaurantUtilities/bin/Debug/net6.0/RestaurantUtilities.dll
/RestaurantUtilities/bin/Debug/net6.0/RestaurantUtilities.deps.json
/RestaurantUtilities/bin/Debug/net6.0
/RestaurantUtilities/obj/RestaurantUtilities.csproj.nuget.g.targets
/RestaurantUtilities/obj/RestaurantUtilities.csproj.nuget.g.props
/RestaurantUtilities/obj/RestaurantUtilities.csproj.nuget.dgspec.json
/RestaurantUtilities/obj/project.nuget.cache
/RestaurantUtilities/obj/project.assets.json
/RestaurantUtilities/obj/Debug/net6.0
/RestaurantWebAPI/obj
/RestaurantWebAPI/bin/Debug/net6.0
